.hero{
    display: flex;
    flex-direction: row;
    background-image: url(./Images/background.png);
  height: 100vh;


    gap: 250px;
    
    
}
.hero-left{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10%;
}
.img12{
 width: 150px;
 height: 80px;
}
.hero-tilte{
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
}
.hero-descrption{
    width: 400px;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 400;
    
}
.hero-btn{
    flex-direction: row;
   margin-top: 20px;
   text-align: left;
   

    
}
.hero-btn button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    
}
.book{
    color: white;
    background-color: orange;
    border: transparent;
    margin-right: 10px;
    font-weight: 400;

}
.call{
    border: transparent;
}


.model{
    width: 400px;
    height: 440px;
    border-radius: 100%/90%;
    
    
}
.model-div{
    width: 380px;
    height: 445px;
    background-color: orange;
    border-radius: 100%/70%;
    position: absolute;
    
    
}
.heart-left img{
    width: 70px;
    height: 80px;

}
.heart,.vacci,.pet{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    width: 230px;
    height: 80px;
    
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    position: relative;
    gap: 15px;
    
}
.heart-right{
    text-align: left;
    line-height: 25px;
    margin-top: 10px;
    font-size: 20px;

}
.heart{
 top: 250px;
 right: 120px;
}
.vacci{
    
    left: 300px;
}
.pet{
    top: 250px;
    left: 240px;
}
.heart-left div{
background-color: white;
width: 70px;
height: 69px;
border-radius: 10px;


}
.heart-left{
    padding: 5px;
}
.play{
    position: relative;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
    padding: 0px;
    top: -200px;
    left: 320px ;
    width: 75px;
    height: 75px;
}
.play img{
    border-radius: 100%;
    width: 70px;
    height: 70px;
}